# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/

# Database
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Other
Frappe - Task.pdf
